/*######################################################################## 
                            LOGO SIDEBAR                                
#########################################################################*/

.fade-enter-active, .fade-leave-active {
    // transition-delay: 4s;
    transition: opacity .5s ease-out 0.12s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }




 /*######################################################################## 
                            TABS IN APRENDE BUTTON                                
#########################################################################*/

.tabs-enter-active, .tabs-leave-active {
    // transition-delay: 4s;
    transition: opacity 0.18s ease-out;
}
.tabs-enter, .tabs-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}