/*######################################################################## 
                            CENTER SPACE VARIABLE                                 
#########################################################################*/

$center-space: 95%;





/*######################################################################## 
                            ICON SIZE NAVBAR VARIABLE                                  
#########################################################################*/

$iconSize-navbar: 18px;





/*######################################################################## 
                            TEXT-COLOR VARIABLES                                  
#########################################################################*/

$text-white: white;
$text-black: black;
$text-grey-light: #E0E0E0;
$text-grey1: #BDBDBD;
$text-grey2: #9E9E9E;
$text-grey3: #333;





/*######################################################################## 
                            FONT SIZE VARIABLES                                  
#########################################################################*/

$text-h1: 96px;
$text-h2: 60px;
$text-h3: 48px;
$text-h4: 34px;
$text-h5: 24px;
$text-h6: 20px;
$text-subtitle1: 16px; 
$text-body1: 14px; 
$text-caption: 12px;
$text-overline: 10px;

$text-light: 300;
$text-regular: 400;
$text-medium: 700;
$text-title: 900;

$btnheight: 30px;