.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5rem 1rem 0 1rem;
    @include desktop {
        flex-direction: row;
    }
    &__box1 {   
        display: flex;
        flex-direction: column;
        padding-bottom: 3rem;
        @include desktop {
            width: 70%;
            flex-direction: row;
            justify-content: space-between;
            background: red;
        }
    }
    &__box2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        @include desktop {
            width: 30%;
        }
    }
}

.footer__dropdown {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    &--title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid black;
    }
    &--list {
        display: flex;
        flex-direction: column;

    }
}

.footer__boxicons {
    display: flex;
    justify-content: center;
    align-items: center;
    &--item {
        font-size: 24px;
        padding: 0px 10px 10px 10px;
    }
}

.footer__boxbuttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .btn {
        width: 250px;
        line-height: 40px;
        background: red;
        border: none;
        outline: none;
        span {
            margin-right: 8px;
        }
    }
}

.footer__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}