.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem 0 1rem;
    @include desktop {
        flex-direction: row;
    }
    &__box1 {   
        display: flex;
        flex-direction: column;
        padding-bottom: 3rem;
        @include desktop {
            width: 70%;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &__box2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        @include desktop {
            width: 30%;
            margin-top: 1rem;
        }
    }
}

.footer__dropdown {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: 1px solid $text-grey-light;
    overflow: hidden;
    @include desktop {
        border-bottom: none;
    }
    &--title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 20px 0 20px 0;
        font-size: $text-subtitle1;
        &:hover {
            cursor: pointer;
        }
        @include desktop {
            border-bottom: none;
            font-size: $text-body1;
            &:hover {
                cursor: inherit;
            }
        }
    }
    &--list {
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
        max-height: 0px;
        transition: .3s cubic-bezier(.4,0,.2,1);
        a {
            line-height: 30px;
            font-size: $text-subtitle1;
            text-transform: capitalize;
            color: $text-grey3;
        }
        :last-child {
            margin-bottom: 20px;
        }
        @include desktop {
            display: flex;
            :last-child {
                margin-bottom: 0px;
            }
        }
    }
    .chevron {
        color:#4B22F4;
        transition: .3s cubic-bezier(.4,0,.2,1);
        @include desktop {
            display: none;
        }
        .chevronIcon {
            margin-right: 5px;
        }
    }
}

.active {
    color: $text-grey3;
}
.activeDropdownContent {
    display: flex;
    max-height: 300px;
}
.activeChevron {
    transform: rotate(90deg);
}

.footer__boxicons {
    display: flex;
    justify-content: center;
    align-items: center;
    &--item {
        font-size: 24px;
        padding: 0px 10px 10px 10px;
    }
}

.footer__boxbuttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .btn {
        @include btn(250px, #4B22F4, #4B22F4);
        span {
            margin-right: 8px;
        }
    }
    .btn-outline {
        @include btn-outline(250px, #E0E0E0, $text-grey2);
        span {
            margin-right: 8px;
        }
    }
}

.separator {
    @include separator(70%, $text-grey1);
    margin-bottom: 20px;
}

.footer__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

