.header__container {
    color: $text-white;
}
.header {
    width: 100%;
    height: 75vh;
    overflow: hidden;
    text-align: center;
    margin: auto;
    position: relative;
    &__video {
        position: absolute;
        z-index: 1;
    }
    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.75);
        z-index: 5;
    }
    &__box {
        width: 100%;
        height: 100%;
        padding: 0 1.5rem 0 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 10;
        text-align: center;
        h1 {
            line-height: 3rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
            @include tablet {
                font-size: $text-h2;
            }
            @include desktop {
                font-size: $text-h2;
            }
        }
        p {
            line-height: 1.5rem;
        }
        &__button {
            @include btn(85%, #4B22F4,#4B22F4);
            margin-top: 2rem;
            @include tablet {
                @include btn(250px, #4B22F4,#4B22F4);
            }
        }
    }
    @include tablet {
        &__box {
            align-items: flex-start;
            text-align: left;
            padding-left: 5%;
            h1 {
                font-size: 64px;
                line-height: 4.5rem;
                margin-right: 20%;
            }
            p {
                font-size: 20px;
            }
        }
    }
    @include desktop {
        &__box {
            align-items: flex-start;
            text-align: left;
            padding-left: 5%;
            h1 {
                font-size: 64px;
                line-height: 4.5rem;
                margin-right: 40%;
            }
            p {
                font-size: 20px;
            }
        }
    }
}

.sub-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    @include tablet {
        flex-direction: row;
        justify-content: space-around;
        margin: 2rem auto 2rem auto;
        width: 90%;
    }
    @include desktop {
        width: 80%;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 10px;
        &--icon {
            line-height: 5rem;
            font-size: 25px;
            color: #4B22F4;
        }
        h3 {
            margin-bottom: 20px;
            text-align: center;
            font-weight: $text-title;
        }
    }
}
.swiper-button-prev {
    background:red;
}