.main__container {
    width: 100%;
}
.navbar {
    display: flex;
    background: transparent;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 1000;
    color: $text-white;
    &__block {
        margin-left: 1.5rem;
        display: flex;
        width: 70px;
        justify-content: space-between;
        .navbar__menu {
            font-size: $iconSize_navbar;
        }
        .navbar__search {
            font-size: $iconSize_navbar;
        }
    }
    &__logo {
        position: fixed;
        width: 100%;
        text-align: center;
    }
    &__buy {
        margin-right: 1.5rem;
        font-size: $iconSize_navbar;
    }
}