.main__container {
    width: 100%;
}
.navbar {
    display: flex;
    background: transparent;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 30;
    color: $text-white;
    background: rgba(0,0,0,0.5);
    @include desktop {
      display: none;
    }
    &__block {
        margin-left: 2rem;
        display: flex;
        width: 70px;
        justify-content: space-between;
        .navbar__search {
            font-size: $iconSize_navbar;
            margin-left: 2.5rem;
            @include tablet {
                margin-left: 4rem;
            }
        }
    }
    &__logo {
        position: fixed;
        top: 13px;
        right: 0;
        left:0;
        text-align: center;
        text-align: -webkit-center;
        // z-index: 30;
    }
    &__buy {
        margin-right: 2rem;
        font-size: $iconSize_navbar;
    }
}

.navbar__menu {
    position: fixed;
    // color: #4B23F4;
    font-size: $iconSize_navbar;
    z-index: 50;
    top: 25px;
    left: 2.7rem;
    transform: translate(-50%, -50%);
    @include desktop {
      display: none;
    }
    #menu-toggle {
      display: none;
    }
    .menu-toggle-label {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
      cursor: pointer;
      &:hover{
        .line{
          transition: all 0.2s ease-in-out;
          &:nth-child(1){
            width: 30px;
          }
          &:nth-child(2){
            width: 30px;
            opacity: 0.7;
          }
          &:nth-child(3){
            width: 30px;
          }
        }
      }
      .line{
        transition: all 0.2s ease-in-out;
        margin: 2.5px 0;
        height: 2px;
        width: 15px;
        background-color: white;
        &:nth-child(1){
            width: 30px;
          }
          &:nth-child(2){
            width: 20px;
          }
          &:nth-child(3){
            width: 10px;
          }
      }
    }
    
    #menu-toggle:checked + .menu-toggle-label {
      .line{
        transition: all 0.2s ease-in-out;
        background: black;
        &:nth-child(1){
          transform: translateY(7px) rotate(45deg);
        }
        &:nth-child(2){
          transform: scale(0);
        }
        &:nth-child(3){
          transform: translateY(-7px) rotate(-45deg);
          width: 30px;
        }
      }
    }
}
/* ######################### SIDE-BAR ######################### */

.side-bar {
    // background: rgba(75,35,244,0.9);
    // background: rgba(255,255,255,0.9);
    background: white;
    bottom: 0;
    font-size: 14px;
    overflow-y: auto;
    // padding: 0px 0 30px;
    position: fixed;
    top: 0px;
    transform: translateX(-100%);
    z-index: 40;
    transition: transform .15s cubic-bezier(.4,0,.2,1);
    width: 100%;
    &__logo {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
    }
    &__content {
      &-list {
        @include tablet {
          font-size: $text-h6;
          a {
            font-weight: $text-regular;
            color: $text-grey3;
          }
        }
      }
      .btn-registration {
        @include btn(100%, #4B23F4,#4B23F4);
        @include tablet {
          margin-left: auto;
          margin-right: auto;
          @include btn(50%, #4B23F4,#4B23F4);
        }
      }
      .btn-login {
        @include btn-outline(100%, #4B23F4,#4B23F4);
        color:#4B23F4;
        @include tablet {
          margin-left: auto;
          margin-right: auto;
          @include btn-outline(50%, #4B23F4,#4B23F4);
        }
      }
      .side-social {
        display: flex;
        justify-content: center;
        align-items: center;
        &__icon {
          padding: 9px 9px 16px 9px;
          font-size: 16px;
          color: $text-grey2;
        }
      }
      @include tablet {
        padding-left: 4rem;
        padding-right: 4rem;
      }
    }
  }
  .appear-sidebar {
    transform: translateX(0%);
    z-index: 40;
  }
//   .appear-sidebar:after {
//     content: "";
//     // botton: 0;
//     right: 0;
//     z-index: 1;
//     position: absolute;
//     background: rgba(0,0,0,0.9)
//   }

.fade-enter-active, .fade-leave-active {
  // transition-delay: 4s;
  transition: opacity .5s ease-out 0.12s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.desktop-nav {
  display: none;
  @include desktop {
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    height: 70px;
    color:white;
    font-size: 14px;
    &__line {
      width: 1px;
      height: 23px;
      background: #616161;
    }
    &__logo {
      display: flex;
      justify-content: space-around;
      width: 25%;
      display: flex;
      &-btn {
        background: transparent;
        border: none;
        outline: none;
        &:hover {
          cursor: pointer;
        }
      }
    }
    &__search {
      margin-left: 2rem;
      width: 25%;
      &:hover {
        cursor: pointer;
      }
    }
    &__links {
      width: 50%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      a {
        &:hover {
          cursor: pointer;
        }
      }
      &-login {
        background: transparent;
        border: none;
        outline: none;
        &:hover {
          cursor: pointer;
        }
      }
      &-registration {
        background:transparent;
        border: 1px solid white;
        padding: 7px 20px;
        text-align: center;
        outline: none;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}