.casoCard {
    &__img {
        position: relative;
    }
    &__content {
        transform: translateY(-25px);
        background: #F5F5F5;
        margin: 0 15px 0 15px;
        padding: 15px;
    }
}
.guion {
    display: block;
    position: absolute;
    &:before {
        content: "";
        display: block;
        background: $text-grey3;
        width: 15px;
        height: 1px;
        position: absoulte;
        transform: translateY(8px)
    }
}