.swiper-pagination__content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
    .swiper-pag {
        width: auto;
    }
}

.swiper-info__card {
    padding: 25px;
    background: #4B23F4;
    color: white;
}
.card1 {
    min-height: 335px;
}

.swiper2-pag {
    width: auto !important;
}
.swiper4-pag {
    width: auto !important;
}
.swiper5-pag {
    width: auto !important;
}


.swiper1-button {
    @include swiper-mobile-btn;
}
.swiper2-button {
    @include swiper-mobile-btn;
    @include desktop {
        border: 1px solid #4B22F4;
        padding: 20px;
        font-size: 14px;
    }
}
.swiper4-button {
    @include swiper-mobile-btn;
    @include desktop {
        border: 1px solid #4B22F4;
        padding: 20px;
        font-size: 14px;
    }
}
.swiper5-button {
    @include swiper-mobile-btn;
}