.cursos-section {
    margin-bottom: 3rem;
}

.separator-fluid {
    @include separator(100%, $text-grey1);
}

.stats-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    @include desktop {
        flex-direction: row;
        margin: 3rem auto 0rem auto;
        width: 95%;
        .stats-title {
            font-size: $text-h3;
        }
    }
    .stats-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include desktop {
            flex-direction: row;
            justify-content: space-around;
        }
        &__li {
            margin-top: 2rem;
            @include desktop {
                margin-top: 0;
            }
        }
    }
}